doctype html
table(cellspacing='0', border='0', cellpadding='0', width='100%', bgcolor='#FFFFFF')
  tbody
    tr
      td
        table(cellspacing='0', border='0', align='center', cellpadding='0', width='624')
          tbody
            tr
              td
                b Title:
              td #{title}
            tr
              td
                b Url:
              td
                a(href=url) #{url}
            tr
              td
                b Cache:
              td
                a(href=cache) #{cache}
              td
            tr
              td
            tr
              td
                img(src=screenshot)
